flask
gevent
flask_cors
openai==0.28.1
langchain==0.0.330
langchain_community
SQLAlchemy==1.4.49
json5
loguru
pandas==2.1.2
fastapi
pymysql==1.1.0
Cython
cchardet
chardet
typing-extensions==4.8.0
beautifulsoup4
lxml
duckduckgo_search
urllib3==1.26.18
pysocks
pretty_errors
openpyxl